In [30]:
import pandas as pd
import ast

In [15]:
movie_data = pd.read_csv('MovieSummaries/movie.metadata.tsv', sep='\t', header=None)

In [53]:
movie_data.rename(columns={0:"Wiki_ID", 2:"Title", 8:"Genre"}, inplace=True) 
movie_data.head()

,Wiki_ID,1,Title,3,4,5,6,7,Genre
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

In [77]:
movie_info = movie_data[["Wiki_ID", "Title", "Genre"]]
for row in range(movie_info.shape[0]):

    row_genre = movie_info.loc[row, "Genre"]

    genre = ','.join(list(ast.literal_eval(row_genre).values()))

    movie_info.loc[row, "Genre"] = genre

In [78]:
movie_info.head()

,Wiki_ID,Title,Genre
0,975900,Ghosts of Mars,"Thriller,Science Fiction,Horror,Adventure,Supe..."
1,3196793,Getting Away with Murder: The JonBenét Ramsey ...,"Mystery,Biographical film,Drama,Crime Drama"
2,28463795,Brun bitter,"Crime Fiction,Drama"
3,9363483,White Of The Eye,"Thriller,Erotic thriller,Psychological thriller"
4,261236,A Woman in Flames,Drama

In [80]:
movie_info.to_csv("movie_title_genre.tsv", sep="\t")

In [82]:
movie_plot = pd.read_csv('MovieSummaries/plot_summaries.txt', sep='\t', header=None)

In [84]:
movie_plot.rename(columns={0:"Wiki_ID", 1:"Plot"}, inplace=True)

In [87]:
movie_info_plot = movie_info.merge(movie_plot, on="Wiki_ID")

In [96]:
movie_info_plot

,Wiki_ID,Title,Genre,Plot
0,975900,Ghosts of Mars,"Thriller,Science Fiction,Horror,Adventure,Supe...","Set in the second half of the 22nd century, th..."
1,9363483,White Of The Eye,"Thriller,Erotic thriller,Psychological thriller",A series of murders of rich young women throug...
2,261236,A Woman in Flames,Drama,"Eva, an upper class housewife, becomes frustra..."
3,18998739,The Sorcerer's Apprentice,"Family Film,Fantasy,Adventure,World cinema","Every hundred years, the evil Morgana returns..."
4,6631279,Little city,"Romantic comedy,Ensemble Film,Comedy-drama,Dra...","Adam, a San Francisco-based artist who works a..."
...,...,...,...,...
42199,23851782,The Ghost Train,"Crime Fiction,Thriller,Comedy,Supernatural",{{plot}} The film opens with a Great Western e...
42200,35228177,Mermaids: The Body Found,Drama,Two former National Oceanic Atmospheric Admini...
42201,34980460,Knuckle,"Biographical film,Drama,Documentary",{{No plot}} This film follows 12 years in the ...
42202,913762,The Super Dimension Fortress Macross II: Lover...,"Science Fiction,Japanese Movies,Adventure,Anim...","The story takes place in the year 2092,The Sup..."
42203,12476867,Spliced,"Thriller,Horror,Slasher,Teen",The movie is about a teenage girl who loves ho...

In [102]:
with open('movie_info_plot_trainig.txt', 'w') as train_file, open('movie_info_plot_testing.txt', 'w') as test_file:
    for row in range(movie_info_plot.shape[0]):
        line = "<BOS>" + " "
        for g in movie_info_plot.loc[row, "Genre"].split(','):
            line += "<" + g+ "> "
        line += "<SEP> " + movie_info_plot.loc[row, "Plot"] + "<EOS>\n"
        if row < movie_info_plot.shape[0] - 1000:
            train_file.write(line)
        else:
            test_file.write(line)

In [103]:
movie_info_plot.shape

(42204, 4)